* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 10px;
}

body {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #333;
	font-size: 1.6rem;
	width: 100vw;
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.intro {
	display: flex;
    align-items: center;
	height: 100vh;
}

.intro .title {
	font-size: 3rem;
	margin: 0 0 10px;
}

.intro .title .highlight {
	display: block;
	font-size: 7rem;
	line-height: 1.2;
	margin-left: -5px;
	text-transform: uppercase;
}

.intro .occupation {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.intro .occupation .dot {
	display: inline-block;
	font-size: 3rem;
    line-height: 2rem;
	margin: 0 15px;
}

.explore {
	margin-top: 60px;
	text-align: center;
}

.explore .text {
	text-transform: uppercase;
}

.explore .border {
	display: inline-block;
	color: #333;
	width: 50px;
	height: 50px;
	padding: 12px;
	margin: 0 auto;
	border: 2px solid #333;
	border-radius: 50%;
}

.explore .arrow {
	font-size: 2rem;
}

.explore .line {
	width: 1px;
	height: 200px;
	margin: 0 auto;
	border-right: 1px dashed #333;
}

@media only screen and (min-width: 768px) {

	.container {
		width: 700px;
		padding: 0;
	}

	.intro .container {
		text-align: center;
	}

	.intro .occupation {
		justify-content: center;
	}

}

@media only screen and (min-width: 1366px) {

	body {
		font-size: 1.8rem;
	}

	.container {
		width: 1200px;
	}

	.intro .title {
		font-size: 6rem;
	}

	.intro .title .highlight {
		font-size: 12rem;
	}

	.intro .occupation {
		font-size: 2.4rem;
	}

}