/* ================================================================

	PROJECTS

================================================================ */

.projects {
	padding-top: 30px;
}

.projects .container {
	display: flex;
	flex-direction: column;
}

.projects .block {
	display: flex;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
	margin-bottom: 40px;
}

.projects .block .icon {
	width: 60px;
	height: 60px;
	background-color: #f5f5fb;
	margin-right: 20px;
	border-radius: 5px;
}

.projects .block .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	height: 60px;
}

.projects .block .name {
	font-size: 2rem;
	margin: 0;
}

.projects .block .desc {
	color: #727272;
	font-size: 1.4rem;
	margin: 5px 0 0;
}

/* ================================================================

	FOOTER - CONTACT

================================================================ */

.contact {
	margin-top: 60px;
}

.contact .heading {
	font-size: 2.4rem;
	margin: 10px 0 20px;
}

.contact .sub-heading {
	color: #727272;
	font-size: 1.8rem;
	margin: 0;
}

.contact .link {
	display: inline-block;
}

.contact .link .icon {
	font-size: 8rem;
	transition: .2s ease-in-out;
}

.contact .link .icon * {
	fill: url(#instagram-color);
}

.contact .link .icon:hover {
	filter: opacity(.8);
}

.contact .copyright {
	color: #727272;
	font-size: 1.6rem;
	margin-top: 60px;
}