/* ================================================================

	PROJECTS

================================================================ */

.projects {
	padding-top: 30px;
}

.projects .container {
	display: flex;
	flex-direction: column;
}

.projects .block {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #333;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.projects .block .icon {
	object-fit: contain;
	width: 80px;
	height: 80px;
	margin-right: 20px;
	border-radius: 5px;
}

.projects .block .icon.temp {
	background-color: #f5f5fb;
}

.projects .block .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	height: 80px;
}

.projects .block .name {
	font-size: 2rem;
	margin: 0;
}

.projects .block .desc {
	color: #727272;
	font-size: 1.4rem;
	margin: 5px 0 0;
}

/* ================================================================

	FOOTER - CONTACT

================================================================ */

.contact {
	margin-top: 60px;
}

.contact .heading {
	font-size: 2.4rem;
	margin: 10px 0 20px;
}

.contact .sub-heading {
	color: #727272;
	font-size: 1.8rem;
	margin: 0;
}

.contact .link {
	display: inline-block;
}

.contact .link .icon {
	width: 80px;
	height: 80px;
	margin-left: -15px;
}

.contact .link .icon * {
	fill: url(#instagram-color);
}

.contact .copyright {
	color: #727272;
	font-size: 1.6rem;
	margin-top: 60px;
}

/* ================================================================

	RESPONSIVE

================================================================ */

@media only screen and (min-width: 768px) {

	.projects .container {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.projects .block {
		flex-direction: column;
		width: 33%;
		padding-bottom: 40px;
	}

	.projects .block .content {
		text-align: center;
	}

	.contact .container {
		text-align: center;
	}

	.contact .link .icon {
		margin-left: 0;
	}

}


@media only screen and (min-width: 1366px) {

	.projects .block {
		width: calc(33% - 15px);
		padding: 40px 0;
		border: none;
		border-radius: 10px;
		transition: .2s ease-in-out;
	}

	.projects .block:hover {
		background-color: #f5f5fb;
	}

	.projects .block.block-mid {
		margin: 0 20px 20px;
	}

	.projects .block .icon {
		width: 160px;
		height: 160px;
	}

	.projects .block .name {
		font-size: 2.6rem;
		margin: 20px 0 5px;
	}

	.projects .block .desc {
		font-size: 1.6rem;
	}

	.contact {
		margin-top: 120px;
	}

	.contact .sub-heading {
		font-size: 2.4rem;
	}

	.contact .heading {
		font-size: 4rem;
	}

	.contact .link .icon {
		width: 160px;
    	height: 160px;
    	transition: .2s ease-in-out;
	}

	.contact .link .icon:hover {
		opacity: .7;
	}

}