/* ==========================================================================

	RESPONSIVE CSS ( 1350px )

========================================================================== */

@media only screen and (max-width: 1350px) {

	.heading {
		font-size: 6rem;
	}

	.button {
		padding: 15px 30px;
	}

	.explore .border {
		width: 45px;
		height: 45px;
		padding: 10px;
	}

	.hero .title {
	    font-size: 5rem;
	}

	.hero .title span {
	    font-size: 10rem;
	}

	.sub-heading .number {
		font-size: 3.5rem;
	}

	.sub-heading .text {
		font-size: 2rem;
	}

	.web-design .heading-bar,
	.pokemon .heading-bar {
		height: 15px;
		top: 153px;
	}

	.web-design .content,
	.pokemon .content,
	.story .content {
	    max-width: 600px;
	}

	.web-design .heading {
	    width: 450px;
	    padding-left: 45px;
	    margin-left: 50px;
	}

	.web-design .splide .block {
		height: 200px;
		padding: 25px;
	}

	.web-design .splide .name {
		bottom: 0;
	}

	.pokemon .heading {
	    width: 520px;
	}

	.blog .content {
		max-width: 800px;
	}

	.blog .category {
		padding: 10px 30px;
	}

	.blog .list li a {
		font-size: 1.6rem;
	}

	.contact .copyright {
		font-size: 1.4rem;
	}

}