/* ==========================================================================

	RESPONSIVE CSS ( 992px )

========================================================================== */

@media only screen and (max-width: 992px) {

	.section {
		padding: 40px 0;
	}

	.heading {
		font-size: 4rem;
	}

	.explore {
		margin-top: 40px;
	}

	.explore .border {
	    width: 40px;
	    height: 40px;
	    padding: 9px;
	}

	.explore .arrow {
		font-size: 1.8rem;
	}

	.explore .line {
		height: 150px;
	}

	.hero .title {
	    font-size: 3rem;
	}

	.hero .title span {
	    font-size: 7rem;
	}

	.sub-heading .number {
		font-size: 3rem;
	}

	.sub-heading .text {
		font-size: 1.6rem;
	}

	.web-design .heading-bar,
	.pokemon .heading-bar {
		height: 10px;
		top: 113px;
	}

	.web-design .content,
	.pokemon .content,
	.story .content,
	.blog .content {
	    max-width: 100%;
	}

	.web-design .heading {
	    width: 350px;
	    padding-left: 40px;
	    margin-left: 40px;
	}

	.web-design .splide {
		margin-top: 40px;
	}

	.web-design .splide .block {
	    height: 160px;
	    padding: 20px;
	}

	.pokemon .heading {
		width: auto;
		padding-left: 40px;
		margin-left: 40px;
	}

	.pokemon .heading-bar {
		left: 0;
		right: auto;
	}

	.story .text-center {
		text-align: left;
	}

	.story .heading {
		background-color: #fff;
		padding-left: 40px;
		margin-left: 40px;
	}

	.story .heading-bar {
		position: absolute;
	    top: 113px;
	    left: 0;
	    width: 50%;
	    margin: 0;
	    z-index: -1;
	}

	.story .buttons-container {
		justify-content: flex-start;
	}

	.story .button {
		margin: 20px 25px 0 0;
	}

	.story .explore {
		text-align: center;
	}

	.blog .text-center {
		text-align: left;
	}

	.blog .heading {
		background-color: #fff;
		padding-left: 40px;
		margin-left: 40px;
	}

	.blog .heading-bar {
		position: absolute;
	    top: 113px;
	    left: 0;
	    width: 50%;
	    margin: 0;
	    z-index: -1;
	}

	.blog .heading-bar-left {
		display: none;
	}

	.blog .category {
		margin-top: 40px;
	}

	.blog .list li a {
		font-size: 1.5rem;
		padding: 15px;
	}

	.blog .list li a .icon {
		margin-right: 15px;
	}

	.blog .explore {
		text-align: center;
	}

	.contact .copyright {
	    font-size: 1.3rem;
	}

}