/* ==========================================================================

	RESPONSIVE CSS ( 1600px )

========================================================================== */

@media only screen and (max-width: 1600px) {

	.heading {
		font-size: 8rem;
	}

	.hero .title {
		font-size: 7rem;
	}

	.hero .title span {
		font-size: 13rem;
	}

	.sub-heading .number {
		font-size: 4.2rem;
	}

	.sub-heading .text {
		font-size: 2.6rem;
	}

	.web-design .heading-bar,
	.pokemon .heading-bar {
		top: 175px;
	}

	.web-design .heading {
		width: 600px;
		padding-left: 50px;
	}

	.pokemon .heading {
		width: 680px;
	}

}