/* ==========================================================================

	RESPONSIVE CSS ( 767px - 0px )

========================================================================== */

@media only screen and (max-width: 767px) {

	.section {
		padding: 20px 0;
	}

	.heading {
		font-size: 3rem;
	}

	.explore {
		margin-top: 20px;
	}

	.explore .text {
		margin-bottom: 5px;
	}

	.explore .border {
		padding: 7px;
	}

	.explore .line {
		height: 100px;
	}

	.hero .title {
		font-size: 2.4rem;
		margin: 40px 0 0;
	}

	.hero .title span {
		font-size: 6rem;
		margin-left: -5px;
	}

	.sub-heading .number {
		font-size: 2rem;
		margin-right: 10px;
	}

	.sub-heading .text {
		font-size: 1.4rem;
	}

	.web-design .heading,
	.pokemon .heading,
	.story .heading,
	.blog .heading {
		padding: 0;
		margin: 0;
	}

	.web-design .heading-bar,
	.pokemon .heading-bar,
	.story .heading-bar,
	.blog .heading-bar {
		position: relative;
	    top: 0;
	    width: 80px;
	    height: 5px;
	    margin: 20px 0 30px;
	    z-index: 0;
	}

	.story .buttons-container {
		flex-wrap: wrap;
		margin-bottom: 40px;
	}

	.blog .heading-bar {
		display: block;
	}

	.blog .heading-bar-left {
		display: none;
	}

	.blog .category {
		font-size: 1.8rem;
		padding: 10px 25px;
		border-radius: 5px;
	}

	.blog .list li a {
		display: flex;
		align-items: baseline;
	}

	.blog .list li a .arrow {
		display: none;
	}

}