/* ==========================================================================

	RESPONSIVE CSS ( 1350px - 993px )

========================================================================== */

@media only screen and (max-width: 1350px) and (min-width: 993px) {

	.container {
		width: 900px;
	}

}