/* ======================================================================

	BREADCRUMB

====================================================================== */

.breadcrumb {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.6rem;
	padding: 0;
}

.breadcrumb .arrow {
	margin: 0 15px;
}

/* ======================================================================

	CHARACTERS

====================================================================== */

.characters {
	justify-content: flex-start;
	flex-wrap: wrap;
}

.characters .block {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 46%;
	height: 240px;
	margin: 0 4% 15px 0;
	border: 1px solid #808080;
	border-radius: 5px;
}

.characters .block:nth-child(2n) {
	margin-right: 0;
}

.characters .block .image {
	object-fit: cover;
	width: 100%;
	height: 200px;
}

.characters .block .name {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	background-color: #808080;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 500;
	padding: 0 10px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
}