/* ======================================================================

	MAIN CSS

	Shared globally across the site.

====================================================================== */

/* ======================================================================

	STANDARD

====================================================================== */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 10px;
}

body {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #333;
	font-size: 1.8rem;
	margin: 0;
}

article,
footer,
header,
main,
nav,
section {
	display: block;
}

a {
	background-color: transparent;
	color: #337ab7;
	text-decoration: none;
}

a:focus,
a:hover {
	outline: 0;
	color: #23527c;
}

img {
	vertical-align: middle;
	border: 0;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

button {
	overflow: visible;
}

button:focus { 
	outline: none !important; 
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
}

input {
	line-height: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

main {
	padding-top: 10rem;
}

/* ================================================================

	CONTAINER

	This class name is used as the container for most of the 
	sections.

================================================================ */

.container {
	width: 1400px;
	margin: 0 auto;
}

.relative {
	position: relative;
}

.flex {
	display: flex;
}

/* ======================================================================

	TEXT

====================================================================== */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

/* ======================================================================

	FLOAT

====================================================================== */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* ======================================================================

	BUTTONS

====================================================================== */

.button {

}

.button:hover {

}

/* ======================================================================

	HEADER

====================================================================== */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: transparent;
	justify-content: space-between;
	padding: 20px 40px;
}

.header .trigger {
	font-size: 32px;
}