/* ==========================================================================

	RESPONSIVE CSS ( 992px - 768px )

========================================================================== */

@media only screen and (max-width: 992px) and (min-width: 768px) {

	body {
		font-size: 1.5rem;
	}

	.container {
		width: 700px;
	}

	.contact .link .icon {
		font-size: 6rem;
	}

}